---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

h1,h2,h3 {
    text-shadow: 4px 4px 4px #aaa;
    font-family: 'Roboto Slab',serif;

}
img {
    border-radius: 2%;
}
