---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

h1 {
    text-shadow: 2px 2px 2px #aaa;
    font-family: 'Roboto Slab',serif;

}
h2 {
    color: #333b56;
    background-color: #a5b6ef;
}
img {
    border-radius: 2%;
}
